{# наследуемся от базового шиблона #}
{% extends 'base/base.html' %}

{% block title %}
    {{ device.name }} - Управление
{% endblock title %}

{% block content %}
    <h1>{{ device.name }} - управление устройством</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <br>

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            {% for button in buttons %}
                {% if button.type == 'button-start' %}
                    <div class="btn-group" role="group" aria-label="{{ forloop.counter0 }}">
                        <input type="submit" class="btn btn-success" value="{{ button.title }}" name="{{ button.id }}" style="margin-right: 5px;" {% if not button.is_active %} disabled {% endif %}>
                    </div>
                {% elif button.type == 'button-pause' %}
                    <div class="btn-group" role="group" aria-label="{{ forloop.counter0 }}">
                        <input type="submit" class="btn btn-warning" value="{{ button.title }}" name="{{ button.id }}" style="margin-right: 5px;" {% if not button.is_active %} disabled {% endif %}>
                    </div>
                {% elif button.type == 'button-stop' %}
                    <div class="btn-group" role="group" aria-label="{{ forloop.counter0 }}">
                        <input type="submit" class="btn btn-danger" value="{{ button.title }}" name="{{ button.id }}" style="margin-right: 5px;" {% if not button.is_active %} disabled {% endif %}>
                    </div>
                {% elif button.type == 'button' %}
                    <div class="btn-group" role="group" aria-label="{{ forloop.counter0 }}">
                        <input type="submit" class="btn btn-primary" value="{{ button.title }}" name="{{ button.id }}" style="margin-right: 5px;" {% if not button.is_active %} disabled {% endif %}>
                    </div>
    {#                {% if not button.is_active %}#}
    {#                    <a href="#" class="btn btn-primary disabled" role="button" aria-disabled="true" tabindex="-1">{{ button.title }}</a><br>#}
    {#                {% else %}#}
    {#                    <a href="#" class="btn btn-primary" role="button">{{ button.title }}</a><br>#}
    {#                {% endif %}#}
                {% endif %}
            {% endfor %}
            <br>
            <!-- Кнопка пуска модального окна id=deleteModal -->
            <div class="btn-group" role="group" aria-label="delete btn">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Удалить устройство</button>
{#                <input type="button" class="btn btn-danger" value="Удалить устройство" name="delete" style="margin-right: 5px;" data-toggle="modal" data-target="#myModal">#}
            </div>
            <!-- Модальное окно -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Подтверждение удаления устройства</h4>
                        </div>
                        <div class="modal-body">
                            Вы действительно хотите удалить устройство? <br>
                            История работы устройства будет сохранена на сервере???? (надо или нет) <br>
                            ДОПОЛНИТЬ!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Отмена</button>
                            <input type="submit" class="btn btn-danger" value="Удалить устройство" name="delete">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

    {{ response }}

{% endblock content %}