{# наследуемся от базового шиблона #}
{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ device.name }} - Настройки
{% endblock title %}

{% block content %}
    <h1>{{ device.name }} - настройки</h1>

    <form action="{% url 'settings' idx %}" method="post">
        {% csrf_token %}
        {% crispy form %}
        <br>
        {% if saved == 1 %}
            <input type="submit" value="Сохранить" class="btn btn-success"/>
        {% elif seved == 0 %}
            <input type="submit" value="Сохранить" class="btn btn-warning"/>
        {% else %}
            <input type="submit" value="Сохранить" class="btn btn-primary"/>
        {% endif %}
    </form>
    {{ message }} <br>

    {{ data }} <br>
    {{ response }} <br>
{% endblock content %}